.head
{
    font-size: 120px;
    color: #fee366;
    font-weight: 200;
}

.morenews
{
    display: block;
    background-color: unset;
    width: 20px;
    height: 20px;
    background-image: url(details/img/moreinfo.svg);
    border: none;
    margin: 0 auto;
}